{% extends "base.html" %} 
{% block title %}Expiry{% endblock %} 

<div class="container" style="width:100%; padding:0%">
    {% block content %}
    
    <div class="overflow-hidden">
    <div class="card bg-rgba(245, 223, 187, 1) border-0 row" >
        <img class="card-img" src="/static/form1.png" alt="Card image" style="width:100%; ">
            <div class="card-img-overlay">
                <form>
                    <div class="form-group row" style="padding-top:9%;padding-left:5%">
                        <div class="col-4">
                            <label for="formGroupExampleInput" style="padding-top: 3%;">Product Name:</label>
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ketchup">
                        </div>
                    </div>

                    <div class="form-group row" style="padding-left:5%">
                        <div class="col-4">
                            <label for="formGroupExampleInput" style="padding-top: 3%;">Quantity:</label>
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="1 packet">
                        </div>
                    </div>

                    

                    <div class="form-group row" style="padding-left:5%">
                        <div class="col-4">
                            <label for="formGroupExampleInput" style="padding-top: 3%;">Expiry:</label>
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="dd/mm/yy">
                        </div>
                    </div>

                    <div class="form-group row" style="padding-left:5% ; margin: buttom 0">
                        <h3 style="padding-left:56%; color:white">OR</h3>
                    </div>

                    <div class="form-group row" style="padding-left:5%">
                        <div class="col-4">
                        </div>
                        <div class="col-6">
                            <h4 style="color:white">Upload a picture instead</h4>
                            <input class="file-upload-input" type="file" onchange="readURL (this)" accept="Image/*" style="">

                            <!-- <input type="text" class="form-control" id="formGroupExampleInput" placeholder="upload a scan of the product"> -->
                        </div>
                    </div>

                    <div class="form-group row" style="padding-left:5%">
                        <div class="col-4">
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary mb-2" style="width: 100%;">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
    </div>
    </div>

    <div class="overflor-hidden" style="padding-top:3%">
        <div class="card-body " style="width: 60%; margin-left:20%; margin-right:20%">
            <h4 class="card-title" style="font-family: Schoolbell; text-align:center">Thankyou for using Keep It Fresh!</h4>
            <p style="font-family: Scheherazade; text-align:center;">Let us know how you feel about our website</p>
            <div class="form-group">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label" style="font-family: Scheherazade;">First Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="name" placeholder="Ex: John">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label" style="font-family: Scheherazade;">Last Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="lastName" placeholder="Ex: Doe">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label" style="font-family: Scheherazade;">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label" style="font-family: Scheherazade;">Feedback</label>
                <input type="textarea" class="form-control" id="exampleFormControlInput1" name="feedback" placeholder="feedback">
            </div>
            <br>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary" style="width: 100%;">Submit</button>
            </div>
        </div>
        </div>
    </div>



    <div class="overflow-hidden" style="padding:3%">
        <h4 style="font-family: Revalia; text-align:center"> Why are expiration dates important for consumers to pay attention to?
        </h4>
        <p style="font-family: Revalia; text-align:center">Food expiration dates reflect the time period during which the product is known to remain stable, which means it retains its strength, quality, and purity when it is stored according to its labeled storage conditions.
            This foodwaste also affects the environment, so when you say no to waste you say yes to a green earth.</p>
    </div>

    <div class="overflow-hidden">
        <a href="/expiry"><img src = "/static/logo1.png" width="40" height="40" class="d-inline-block" alt="img" style="margin: 1%; margin-left:95%"></a>
    </div>
    {% endblock %}
</div>